<form class="mt-4" #loginForm="ngForm" (ngSubmit)="loginUser()" >
  <legend>Start your Journey with Funbox!</legend>

  <div class="mb-3">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        [(ngModel)]="newUserLogin.email"
        placeholder="Email"
        required
        #emailModel="ngModel"
        [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')"
      />
      <div class="invalid-feedback" *ngIf="emailModel.errors?.['required']">
        Email is required.
      </div>
      <div class="invalid-feedback" *ngIf="emailModel.errors?.['pattern']">
        Email is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        [(ngModel)]="newUserLogin.password"
        placeholder="Password"
        required
        #passwordModel="ngModel"
        [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
      />
      <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
        Password is required and has a minimum of 4 characters.
      </div>
      <div class="invalid-feedback" *ngIf="passwordModel.errors?.['pattern']">
        Password is required and has a minimum of 4 characters.
      </div>
    </div>

  <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">
    Login</button
  >&nbsp;
  <button type="submit" class="btn btn-danger" href="#">
    Log in with Google</button
  >&nbsp;
  <button type="submit" class="btn btn-primary" href="#">
    Log in with Facebook</button
  ><br /><br />
  <button
    type="submit"
    class="btn btn-secondary"
    [routerLink]="['/auth/register']"
  >
    Sign Up
  </button>
</form>
