<div class="card h-100 shadow">
  <a [routerLink]="['/reviews', review._id]">
    <img class="card-img-top" src="{{ review.image }}" />
  </a>
  <div class="card-body">
    <button class="btn btn-danger btn-sm float-end" (click)="delete()" *ngIf="review.mine">
      Delete
    </button>
    <button class="btn btn-success btn-sm float-end" (click)="wishList()" *ngIf="!review.mine">
      Add to wish list
    </button>
    <h4 class="card-title"><a [routerLink]="['/reviews', review._id]">{{ review.title }}</a></h4>
    <p class="card-text">{{ review.description }}</p>
    <div class="card-text">
      <small class="text-muted">
        <strong>Date of release: </strong>{{ review.launchDate }}
      </small>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Review published: {{ review.reviewDate }}</small>
  </div>
</div>
