<div class="card-neon card h-100 shadow">
  <a [routerLink]="['/reviews', review._id]">
    <img class="card-img-top" src="{{ review.image }}" />
  </a>
  <div class="card-body">
    <h4 class="card-title"><a [routerLink]="['/reviews', review._id]">{{ review.title }}</a></h4>
    <p class="card-text">{{ review.description }}</p>
    <div class="card-text">
      <small class="text-muted">
        <strong>Released: </strong>{{ dateLaunchment }}
      </small>
      <br>
      <small class="text-muted">
        <strong>Type of media: </strong>{{ review.type }}
      </small>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Published: {{ dateReview }}</small>
  </div>
</div>
