<form class="mt-4" (ngSubmit)="addReview()" #reviewForm="ngForm">

  <div class="mb-3">
    Type of Media <br>
    <select class="form-control" [(ngModel)]="newReview.type" [ngModelOptions]="{standalone:true}">
      <option *ngFor="let option of types" value={{option.value}}>{{option.label}}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="name">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="title"
      [(ngModel)]="newReview.title"
      placeholder="Insert the title of the review"
      required
      maxlength="50"
      #titleModel="ngModel"
      [ngClass]="validClasses(titleModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback" *ngIf="titleModel.errors?.['required']">
      Insert a valid title
    </div>
  </div>


  <div class="mb-3">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      [(ngModel)]="newReview.description"
      placeholder="Insert the description"
      required
      #descModel="ngModel"
      [ngClass]="validClasses(descModel, 'is-valid', 'is-invalid')"
    ></textarea>
    <div class="invalid-feedback" *ngIf="titleModel.errors?.['required']">Description is required.</div>
  </div>

  <div
    class="mb-3"
  >
  <label>Launch Date</label>
  <input
      type="date"
      class="form-control"
      id="launchDate"
      name="launchDate"
      title="launchDate"
      #launchDateModel="ngModel"
      [(ngModel)]="newReview.launchDate"
      [ngClass]="validClasses(launchDateModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback" *ngIf="launchDateModel.errors?.['required']">Launch date is required.</div>
  </div>

  <div
    class="mb-3"
  >
  <label>Review Date</label>
  <input
      type="date"
      class="form-control"
      id="reviewDate"
      name="reviewDate"
      title="reviewDate"
      #reviewDateModel="ngModel"
      [(ngModel)]="newReview.reviewDate"
      [ngClass]="validClasses(reviewDateModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback" *ngIf="reviewDateModel.errors?.['required']">Launch date is required.</div>
  </div>

  <!-- <div class="mb-3">
    <label for="stars">Star rating:</label>
    <star-rating
    [rating]="review.rating"
    (changed)="setRating($event)"
    ></star-rating>
  </div> -->

  <div class="mb-3">
    <label for="image">Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      title="image"
      name="image"
      #fileImage
      (change)="changeImage(fileImage)"
      ngModel
      required
      #imageModel="ngModel"
      [ngClass]="validClasses(imageModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback">An image is required.</div>
  </div>
  <img
    [src]="newReview.image"
    [ngClass]="{ 'd-none': !newReview.image }"
    class="img-thumbnail mb-3"
  />

  <div class="mb-3" *ngIf="newReview.type === 'Manga' || newReview.type === 'Book'">
    <label for="pages">Pages</label>
    <input
      type="number"
      class="form-control"
      name="pages"
      id="pages"
      [(ngModel)]="newReview.pages"
      placeholder="Pages"
      required
      #pagesModel="ngModel"
      [ngClass]="validClasses(pagesModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback" *ngIf="pagesModel.errors?.['required']">Duration is required.</div>
  </div>

  <div class="mb-3" *ngIf="newReview.type === 'Videogame' || newReview.type === 'Film'">
    <label for="duration">Duration</label>
    <input
      type="number"
      class="form-control"
      name="duration"
      id="duration"
      [(ngModel)]="newReview.duration"
      placeholder="Duration"
      required
      #durationModel="ngModel"
      [ngClass]="validClasses(durationModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback" *ngIf="durationModel.errors?.['required']">Duration is required.</div>
  </div>

  <div class="mb-3" *ngIf="newReview.type === 'Series' || newReview.type === 'Manga' || newReview.type==='Anime'">
    <label for="chapters">Chapters</label>
    <input
      type="number"
      class="form-control"
      name="chapters"
      id="chapters"
      [(ngModel)]="newReview.chapters"
      placeholder="Chapters"
      required
      #chaptersModel="ngModel"
      [ngClass]="validClasses(chaptersModel, 'is-valid', 'is-invalid')"
    />
    <div class="invalid-feedback" *ngIf="chaptersModel.errors?.['required']">Duration is required.</div>
  </div>

  <div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="reviewForm.invalid">
      Create
    </button>

  </div>
</form>
