<div class="row mt-4" *ngIf="user">
  <div class="col-3">
    <img class="w-100" id="avatar" src="{{user.avatar}}" alt="" />
  </div>
  <div class="col-9">
    <h4>{{user.name}}</h4>
    <h4>
      <small class="text-muted">{{user.email}}</small>
    </h4>
      <p *ngIf="me">
        <a class="btn btnPurple" [routerLink]="['/users', 'edit']" >Edit profile</a>
      </p>
      <canvas #myChartCanvas></canvas>
  </div><br><br>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</div>
