<form action="#" id="form-profile" class="mt-4" method="POST" role="form" (submit)="modifyName()" #nameModified="ngForm">
  <legend>Edit profile</legend>

  <div class="form-group">
    <label for="correo">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="this.email"/>
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="nameUser" id="name" placeholder="Name" [(ngModel)]="name" />

  </div>
  <p class="text-danger" id="errorInfo1"></p>
  <p class="text-success" id="okInfo1"></p>
  <button type="submit" class="btn btn-primary" >Edit profile</button>
</form>

<form action="#" id="form-photo" class="mt-4" method="POST" role="form" (submit)="modifyAvatar()">
  <legend>Edit photo</legend>

  <div class="form-group">
    <input type="file" class="form-control" id="image" name="image" #fileImage
    (change)="changeImage(fileImage)"
    ngModel />
  </div>
  <div class="row">
    <div class="col" class="w-100">
      <img class="w-100" id="photo" src="" alt="" />
    </div>
    <div class="col">
      <img class="d-none w-100" src="" alt="" id="imgPreview" />
    </div>
  </div>
  <p class="text-danger" id="errorInfo2"></p>
  <p class="text-success" id="okInfo2"></p>
  <button type="submit" class="btn btn-primary">Edit photo</button>
</form>

<form action="#" id="form-password" class="mt-4" method="POST" role="form" (submit)="modifyPassword()" #passwdModified="ngForm">
  <legend>Edit password</legend>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="passwd" />
    <label for="password2">Repeat password:</label>
    <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat password" [(ngModel)]="passwd2" />
  </div>
  <p class="text-danger" id="errorInfo3"></p>
  <p class="text-success" id="okInfo3"></p>
  <button type="submit" class="btn btn-primary">Edit password</button>
</form>
