<nav class="navbar navbar-dark bg-dark justify-content-between mt-3 row">
  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item purpleNeon">
      <select class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let option of types" value={{option.value}}>{{option.label}}</option>
      </select>
    </li>
  </ul>
  <form class="container-fluid col purpleNeon">
    <input
      class="form-control"
      type="text"
      name="search"
      placeholder="Search an item in your multibrary!"
      aria-label="Search"
      [(ngModel)]="search"
    />
  </form>
</nav>

<div
  id="placesContainer"
  class="mb-4 mt-4 row row-cols-2 row-cols-xs-2 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-4"
>
  <review-card
    class="col"
    *ngFor="let review of reviews | reviewFilter:search:type"
    [review]="review"
    (deleted)="deleteReview(review)"
  ></review-card>
</div>
